.login-form {
    display: flex;
    width: 250px;
    height: 400px;
    background-color:#000000;
    color: #FFFFFF;
}

.login-form input[type="submit"] {
    margin: 20px 0px 0px 25px;
    width: 206px;
    height: 35px;
    background-color:#08DF8C;
    border-style: none;
    border-radius: 3px;
    color: #EBE6E6;
}

.login-form h5 {
    margin-left: 15px;
    text-align: center;
}

/* /////////////////////////////////// */

.input-block {
    color:#FFFFFF;
    padding: 100px 0px 0px 25px;
}

.input-block label {
    display: block;
    margin-bottom: 2px;
}

.input-block .label-password {
    margin-top: 15px;
}

.input-block input {
    width: 202px;
    height: 30px;
    border-style: none;
    border-radius: 3px;
}

.input-block span {
    color: #FF0000;
}